<form action="/test">
    <label for="type">Type</label>
    <select name="type" id="type">
        <option value="simple">simple</option>
        <option value="complex">complex</option>
    </select>
    <input type="submit" value="BIG BANG!"/>
</form>