<form action="/">
	<fieldset>
		<legend>scale</legend>
		<select name="scale" id="scale">
			<option value="1">inner</option>
			<option value="10">outer</option>
			<option value="35">full</option>
		</select>
		<label for="scale"></label>
	</fieldset>
</form>