<fieldset>
    <div class="panel panel-default">
    <legend class="panel-heading">scale</legend>
    <div class="panel-body">
    <select class="form-control" name="scale" id="scale">
        <option value="1">inner</option>
        <option value="10">outer</option>
        <option value="35">full</option>
    </select>
    <label for="scale"></label>
    </div>
    </div>
</fieldset>



<fieldset>
    <div class="panel panel-default">
    <legend class="panel-heading">planets</legend>
    <div class="panel-body">
    <select class="form-control" name="first" id="first">
        <option value="1">mercury</option>
        <option value="2">venus</option>
        <option value="3">earth</option>
        <option value="4">mars</option>
        <option value="5">jupiter</option>
        <option value="6">saturn</option>
        <option value="7">uran</option>
        <option value="8">neptune</option>
        <option value="9">pluto</option>
    </select>
    <label for="first"></label>
    <select class="form-control" name="second" id="second">
        <option value="1">mercury</option>
        <option value="2">venus</option>
        <option value="3">earth</option>
        <option value="4">mars</option>
        <option value="5">jupiter</option>
        <option value="6">saturn</option>
        <option value="7">uran</option>
        <option value="8">neptune</option>
        <option value="9">pluto</option>
    </select>
    <label for="second"></label>
    </div>
    </div>
</fieldset>


<fieldset>
    <div class="panel panel-default">
    <legend class="panel-heading">interval</legend>
    <div class="panel-body">
    <select class="form-control" name="interval" id="interval">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <label for="interval"></label>
    <select class="form-control" name="duration" id="duration">
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
        <option value="3000">3000</option>
        <option value="5000">5000</option>
        <option value="10000">10000</option>
    </select>
    <label for="duration"></label>
    </div>
    </div>
</fieldset>
