{{!< layout}}

<div class="content">
    {{> _form}}
    {{> _canvas}}
</div>

<!--[if IE]>
<script src="/vendors/harmony-collections/harmony-collections.min.js"></script>
<![endif]-->
<script src="/vendors/requirejs/require.min.js" data-main="/js/solaris.js"></script>