{{!< layout}}

<h1>Solaris</h1>

<table class="views">
	<tr>
		<td>
			<a href="/view/hypotrochoid">
				<img src="/img/hypotrochoid.png" width="400" height="400" alt="hypotrochoid"/>
			</a>
		</td>
		<td>
			<a href="/view/system">
				<img src="/img/system.png" width="400" height="400" alt="system"/>
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/view/hypotrochoid">Hypotrochoid</a> view is inspired by
			<a href="http://www.amazon.com/Little-Book-Coincidence-Wooden-Books/dp/0802713882">Little Book
				Coincidence</a> In the book orbits are just two circles but here they are build on real data
		</td>
		<td>
			<a href="/view/system">System</a> simple solar system view which shows current position of planets
		</td>
	</tr>
</table>