h1 {
    margin: 0;
}

.content {
    min-height: 1000px;
}

.panel-heading {
    text-transform: capitalize;
}

label {
    text-transform: capitalize;
}

table.views {
    margin: 0 60px;
    td {
        padding: 0 55px;
    }
}
