h1 {

}
.content {
    min-height: 1000px;
}

form {
    float: left;
    width: 140px;
    legend, label {
        text-transform: capitalize;
    }
}
canvas {
    float: left;
    width: 1000px;
}


table.views {
    margin: 0 60px;
    td {
        padding: 0 55px;
    }
}